img{
    display: block;
    height: 995px;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.active{
    background-color: cornflowerblue;
    color: white;
}

.home-bg{
    margin-top: -88px;
    height: 1050px;
    background-image: url("../images/bg.png");
    background-size: cover;
    color: white;
}

.home-json-data{
    position: absolute;
    margin-top: 200px;
}

.full{
    height: auto;
}
form{
    margin-top: -70px;
    height: auto;
}

.bg-default-image{
    display: flex;
    margin-top: 40px;
    margin-bottom: -20px;
    margin-left: 550px;
    background-image: url("../images/door-reg.svg");
    background-size: 25%;
    height: 350px;
    background-repeat: no-repeat;
}

.bg-login-default-image {
    display: flex;
    margin-top: 40px;
    margin-left: 550px;
    background-image: url("../images/login.svg");
    background-size: 25%;
    height: 350px;
    background-repeat: no-repeat;
}


.about-banner{
    height: 600px;
    background: rgb(2, 0, 36);
    background: linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(0, 68, 139, 1) 0%, rgba(0, 199, 240, 1) 100%);
}

.about-text {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.about-headline{
    text-align: center;
    justify-content: center;
}

.about-headline h1{
    color: white;
    padding-top: 80px;
}

.about-text h1{
    margin-left: inherit;
    justify-content: center;
    color: white;
}

.about-text h3 {
    margin-left: inherit;
    justify-content: center;
    color: white;
}

.about-text p {
    font-size: 20px;
    margin-left: inherit;
    justify-content: center;
    color: white;
}

.about-card-section{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 800px;
    background-image: url("../images/about.svg");
}

.about-card{
    height: 500px;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    /* position: absolute; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins',
    sans-serif;
}