img{
    display: block;
    height: 995px;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.full{
    height: auto;
}
form{
    margin-top: -70px;
    height: auto;
}

.bg-default-image{
    display: flex;
    margin-top: 40px;
    margin-bottom: -20px;
    margin-left: 550px;
    background-image: url("../images/door-reg.svg");
    background-size: 25%;
    height: 350px;
    background-repeat: no-repeat;
}

.bg-login-default-image {
    display: flex;
    margin-top: 40px;
    margin-left: 550px;
    background-image: url("../images/login.svg");
    background-size: 25%;
    height: 350px;
    background-repeat: no-repeat;
}